legend {
    font-size: 2em;
    font-weight: bold;
    color: var(--primary-color);
    font-family: caveat, cursive;
}

fieldset {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}


.review-form label,
.search-form label:not(.item-name, .diet-name, .recipe-type, .match-all-toggle) {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

.review-form input,
.review-form textarea,
.search-form input[type="text"]{
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1em;
    font-family: "Ysabeau Office", sans-serif;
    margin-bottom: 1em;
}

/* .search-form input[type="text"] {
    width: 100%;
    padding: 0.5em;
    height: 20px;
    margin-right: 0.5em;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1em;
} */

.review-form button,
.search-form button {
    padding: 0.3em 1em;
    font-size: 1.5em;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
    font-family: Caveat, cursive;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
}

.review-form button:hover,
.search-form button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.radio-select { /* stjärnorna i reviews */
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1em;
    align-items: center;
    justify-content: center;
}


.radio-select input[type="radio"] {
    width: 15px;
    margin-left: 1em;
    margin-right: 0.5em;
}

.search-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}



.recipe-filters {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.category-filter,
.area-filter {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#category,
#area {
    padding: 0.5em;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: "Ysabeau Office", sans-serif;
}

#sort-select {
    padding: 0.1em;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: "Ysabeau Office", sans-serif;
}


#category:hover,
#area:hover {
    border-color: var(--primary-color);
}

#category:focus,
#area:focus,
input[type="text"]:focus,
textarea:focus,
input[type="email"]:focus {
    outline: none;
    border-color: var(--button-color);
    box-shadow: 0 0 5px var(--button-color);
}

#category option,
#area option {
    font-family: "Ysabeau Office", sans-serif;
    border-radius: 10px;

}

.match-all-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: -1em;
    font-size: 1em;
    font-family: "Ysabeau Office", sans-serif;
    font-style: italic;
}

#match-all-input {
    width: 15px;
    height: 15px;
}
