:root {
    --primary-color: #6750A4;
    --secondary-color: #ffffff;
    --background-color: #f3edf7;
    --text-color: #0e0624;
    --button-color: #EADDFF;
    --button-text-color: #6750A4;
    --navlink-color: #6750A4;
}


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Caveat, cursive;
    font-size: 14px;
}

h1 {
    color: var(--primary-color);
}

header {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 100;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.226);
}

nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

/* .headeranchor { 
    display:inline-flex; 
    align-items:center; 
    gap:0.5rem; 
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--navlink-color);
} */

.menu-icon { 
    height: 44px;
    display:inline-block; 
}

.home-icon {
    height: 60px;
}


/* Home page styles */
.hero {
    width: 100%;
    height: 90vh;
    min-height: 600px;
    position: relative; /* positioning context for .hero-overlay */
    z-index: 0;
}

.hero-image {
    background-image: url('../images/marketing/pantry-jars.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative; 
    z-index: 0;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #f3edf777,#f3edf7);
    z-index: 0;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
    text-align: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.hero-text h2 {
    font-size: 8rem;
    margin: 0;
    font-weight: lighter;
    color: var(--primary-color);
}

.recipe.btn {
    padding: 0.3em 1em;
    font-size: 2em;
    background-color: var(--button-color);
    color: var(--button-text-color);
    border: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.418);
    font-family: Caveat, cursive;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-in-btn {
    height: 24px;
}

.recipe.btn:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

